.static-landing-page section {
  min-height: calc(75vh - 8rem);
  padding: 2rem;
  overflow: hidden;
}

.static-landing-page p a {
  text-decoration: underline;
}

.static-landing-page section:first-of-type {
  margin-top: 0rem;
}

.static-landing-page .background {
  background: var(--page-color-background-color);
  height: 100%;
  padding: 2rem 0 0;
}

.static-landing-page .background img,
.static-landing-page p,
.static-landing-page iframe,
.static-landing-page h3 {
  max-width: calc(100vw - 2rem);
}

.static-landing-page .centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.static-landing-page .row {
  display: flex;
}

.static-landing-page .row > * {
  padding: 2rem;
}

.static-landing-page .flex {
  flex: 1;
}

.static-landing-page img {
  width: 400px;
}

.static-landing-page img.hero {
  border-radius: var(--border-radius-large);
}

.static-landing-page img.hero-background {
  position: relative;

  border-radius: var(--border-radius-large);
}

.static-landing-page .hero-background {
  padding: 1rem;
  height: 100%;
  background: var(--page-color-background-color);
  border-radius: var(--border-radius-large);
}

.static-landing-page .headline-text {
  text-transform: uppercase;
  margin-top: 0;
  font-size: 2rem;
}

.static-landing-page .primary-text {
  font-family: var(--font-book);
  font-size: 3rem;
}

.static-landing-page .secondary-headline-text {
  font-family: var(--font-book);
  font-size: 3rem;
  text-align: center;
}

.static-landing-page .primary-text,
.static-landing-page .secondary-text {
  max-width: 45rem;
}

.static-landing-page .secondary-text {
  font-size: 1rem;
}

.static-landing-page .secondary-text strong {
  color: var(--mdc-theme-secondary-dark);
}

.static-landing-page .lots-of-text {
  max-width: 50rem;
  margin: auto;
}

.static-landing-page .lots-of-text img {
  display: block;
  margin: auto;
}

.static-landing-page .lots-of-text aside {
  display: block;
  text-align: center;
  margin-top: 0.5rem;
  font-size: .75rem;
}

.static-landing-page .lots-of-text p {
  font-size: 1.5rem;
  padding: 1rem;
}

.static-landing-page .cta-button {
  background-color: var(--mdc-theme-secondary) !important;
  margin: 2rem 0;
  width: 100%;
  max-width: 25rem;
  padding: 1rem;
  height: 4rem;
}

.static-landing-page .details > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.static-landing-page .details > div:not(:last-of-type) {
  padding: 3rem 0;
}

.static-landing-page .details > div:nth-child(odd) {
  background: var(--page-color-odd-background-color);
}

.static-landing-page .details .title {
  font-size: 2rem;
}

.static-landing-page .details img.margin {
  margin: 4rem 0;
}

.static-landing-page .details img.circle {
  border-radius: 50%;
}

.static-landing-page .details p {
  font-size: 1.5rem;
}

.resume {
  padding: 2rem !important;
}

.resume .secondary-headline-text {
  margin-bottom: 6rem;
}

.resume div {
  margin: auto;
  max-width: 960px;
}

.resume a {
  text-decoration: underline;
}

.resume .header {
  text-align: center;
  margin-bottom: 2rem;
}

.resume h2,
.resume h3,
.resume h4 {
  margin: 0;
}

.resume h3 span:first-of-type {
  white-space: nowrap;
  width: 8rem;
}

.resume h3 span:not(:last-of-type) {
  margin-right: 1rem;
}

.resume h4 {
  margin-left: 9rem;
}

.resume .with-margin {
  margin: 0 0 1rem;
}

.resume h3,
.resume h4 {
  display: flex;
  justify-content: space-between;
}

.resume ul {
  margin: 1rem 0rem 2rem 7.5rem;
}

.resume li {
  margin-bottom: 2px;
}

.resume .cta-button-wrapper {
  margin: auto;
}

.resume .cta-button-wrapper a {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .static-landing-page .hide-small {
    display: none;
  }

  .static-landing-page .show-small {
    display: inherit;
  }
}

@media (min-width: 1025px) {
  .static-landing-page .show-small {
    display: none;
  }
}
