{{ $baseurl := .Site.BaseURL }}
<h1 class="site-title">
  <span class="base0a">c</span>
  <span class="base0b">h</span>
  <span class="base07">r</span>
  <span class="base08">i</span>
  <span class="base09">s</span>
  <span class="base0a">E</span>
  <span class="base0b">s</span>
  <span class="base0c">p</span>
  <span class="base0d">l</span>
  <span class="base0e">i</span>
  <span class="base0f">n</span>
</h1>

<div class="hero-logo">
  <img src="{{ $baseurl }}img/base16-eighties.svg">
</div>

<div id="hero-wrapper" style="text-align: center;">
  <h3>Because you're dying to know what I've been up to...</h3>
  <div>
    <img src="{{ $baseurl }}img/esplin-family-2015.jpg" width="500px">
    <p>Family!</p>
  </div>
  <div>
    <iframe width="500" height="281" src="https://www.youtube.com/embed/WK5pM1BYJe8" frameborder="0" allowfullscreen></iframe>
    <p>
      I spend most of my time screwing around on bikes and feeding my kids unhealthy quantities of chocolate milk.
    </p>
  </div>
  <div>
    <iframe src="https://player.vimeo.com/video/182936314" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <p>
      I'm a <a href="https://developers.google.com/experts/people/chris-esplin" target="_blank">Firebase GDE</a>, so I publish stuff to <a href="https://www.youtube.com/playlist?list=PLdssc-pDiZ7OD78kJVp4habTynj-Etwhm" target="_blank">YouTube</a> and <a href="https://medium.com/@ChrisEsplin" target="_blank">Medium</a>
    </p>
  </div>
  <div>
    <iframe src="https://player.vimeo.com/video/182938047" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <p>
      <a href="https://www.calligraphy.org" target="_blank">Calligraphy.org</a>
    </p>
  </div>
  <div>
    <img src="{{ $baseurl }}img/github-contributions.png" width="500px">
    <p>
      <a href="https://github.com/deltaepsilon" target="_blank">GitHub.com/deltaepsilon</a>
    </p>
  </div>
  <div>
    <ul class="social">
      <li>
        <a href="https://www.twitter.com/ChrisEsplin" target="_blank">
          <img src="{{ $baseurl }}img/social-twitter.png">
        </a>
      </li>
      <li>
        <a href="https://www.github.com/deltaepsilon" target="_blank">
          <img src="{{ $baseurl }}img/social-github.png">
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/chris.esplin" target="_blank">
          <img src="{{ $baseurl }}img/social-facebook.png">
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/epsilon" target="_blank">
          <img src="{{ $baseurl }}img/social-instagram.png">
        </a>
      </li>
      <li>
        <a href="https://plus.google.com/u/1/b/107955901543727739262/107955901543727739262" target="_blank">
          <img src="{{ $baseurl }}img/social-google.png">
        </a>
      </li>
    </ul>
  </div>
</div>
