:root {
  --drawer-speed: 200ms;
  --drawer-width: 256px;
  --menu-icon-width: -52px;
  --border-radius-large: 4px;

  /* Theme */
  /* https://material.io/tools/color/#!/?view.left=0&view.right=1&primary.color=177f62&secondary.color=BDBDBD */

  --mdc-theme-primary: #424242;
  --mdc-theme-primary-light: #6d6d6d;
  --mdc-theme-primary-dark: #1b1b1b;
  --mdc-theme-primary-text: #ffffff;

  --mdc-theme-secondary: #ec407a;
  --mdc-theme-secondary-light: #ff77a9;
  --mdc-theme-secondary-dark: #b4004e;
  --mdc-theme-secondary-text: #ffffff;

  /* Color */
  --color-text: #333;
  --color-text-light: #fff;
  --color-text-light-gray: #e4e4e4;
  --color-google: #db3236;
  --color-facebook: #3b5998;
  --color-loader: var(--mdc-theme-secondary);
  --color-border: #e4e4e4;
  --color-form-border: #eee;
  --color-offline: #d3133f;
  --color-overlay-background: #fff;

  /* Cards */
  --card-width: 21rem;
  --card-max-width: calc(100vw - 4rem);

  /* App Bar */
  --color-app-bar-background: #ffffff;

  /* Fonts */
  --font-book: 'museo-sans', Arial, Helvetica, sans-serif !important;
  --font-bold: 'museo-sans-display', Arial, Helvetica, sans-serif !important;

  /* Pages */
  --page-color-background-color: #f7f7f7;
  --page-color-odd-background-color: #fafafa;
}

body {
  font-family: var(--font-book);
  color: var(--color-text);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-bold);
  font-weight: 900;
}

hr {
  border-width: 1px 0 0 0;
  border-color: var(--color-border);
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

ul.plain,
ol.plain {
  padding: 0;
  list-style: none;
}

.mdc-top-app-bar {
  background-color: var(--color-app-bar-background) !important;
  color: var(--color-text) !important;
}

.mdc-top-app-bar .mdc-top-app-bar__action-item,
.mdc-top-app-bar .mdc-top-app-bar__navigation-icon {
  color: var(--color-text) !important;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.centered {
  justify-content: center;
  align-items: center;
}

.full-height {
  height: calc(100vh - 7rem);
}

#fourohfour {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 9rem);
  width: 100vw;
}

#fourohfour > div {
  max-width: calc(100% - 2rem);
}

/* Material Icons */
.material-icons:not(:last-child),
svg:not(:last-child) {
  margin-right: 1rem;
}

/* MDC Patches */
.mdc-button.accent {
  background-color: var(--mdc-theme-secondary) !important;
  color: var(--mdc-theme-secondary-text) !important;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--color-text) !important;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled)
  .mdc-text-field__input::-webkit-input-placeholder {
  color: var(--color-text) !important;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled)
  .mdc-text-field__input:-ms-input-placeholder {
  color: var(--color-text) !important;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled)
  .mdc-text-field__input::-ms-input-placeholder {
  color: var(--color-text) !important;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-text-field__input::placeholder {
  color: var(--color-text) !important;
}

.mdc-snackbar {
  z-index: 100;
}

.mdc-snackbar--multiline .mdc-snackbar__text {
  height: inherit !important;
  z-index: 1000;
}

.mdc-snackbar__action-button {
  color: var(--color-text-light) !important;
}

/* Font hard overrides */
.mdc-top-app-bar__title,
.mdc-button {
  font-family: var(--font-bold) !important;
}

.mdc-text-field__input,
.mdc-list,
.mdc-list-item__secondary-text {
  font-family: var(--font-book) !important;
}

/* https://fonts.googleapis.com/icon?family=Material+Icons */
/* fallback */
@font-face {
  font-display: auto;
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v38/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2)
    format('woff2');
}

.material-icons {
  font-family: 'Material Icons', 'Arial';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* https://use.typekit.net/pic4kzs.css */
@import url('https://p.typekit.net/p.css?s=1&k=pic4kzs&ht=tk&f=2005.22619&a=1803964&app=typekit&e=css');

@font-face {
  font-family: 'museo-sans';
  src: url('https://use.typekit.net/af/620bf8/00000000000000000000e7fe/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/620bf8/00000000000000000000e7fe/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3')
      format('woff'),
    url('https://use.typekit.net/af/620bf8/00000000000000000000e7fe/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3')
      format('opentype');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'museo-sans-display';
  src: url('https://use.typekit.net/af/b4d456/00000000000000003b9ad11e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/b4d456/00000000000000003b9ad11e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3')
      format('woff'),
    url('https://use.typekit.net/af/b4d456/00000000000000003b9ad11e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3')
      format('opentype');
  font-style: normal;
  font-weight: 800;
}
